*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
img{
    width: 150px;
}
div{
    background-color: white;
    width: 230px;
    height: 270px;
    text-align: center;
    overflow: auto;
   padding: 20px;
   border-radius: 20px;
   float: left;
   margin-top: 100px;
   margin-left: 50px;
   transition: 1.5s;
}
div:hover{
    transform:translatey(-30px);
}
.bir{
    margin-left:100px ;
}
.alti{
  margin-left: 660px;
  margin-top: 50px;
}